/*= AA1
	----------------------------*/

.template3 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
            background-size: cover; */
}

.template3 .baseFundo {
    background: url(../../img/aa3.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
        
        Main Components 
        
        -------------------------------- */

.template3 .list {
    position: absolute;
    width: 700px;
}

.template3 .item {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    margin-bottom: 20px;
}

.template3 .itemAtivo {
    display: flex !important;
}

.template3 .itemAtivo .ico {
    pointer-events: none;
}

.template3 .ico {
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.template3 .icoAtivo {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.template3 .txtD {
    position: relative;
    width: 600px;
    height: 100%;
    overflow: hidden;
}

.template3 .txF {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 22px;
    color: #fff;
}

.template3 .ico .fa-check {
    display: none;
    color: #528BDF;
}

.template3 .ico .fa-plus {
    color: #EC7A50;
}